<div class="settingBlock">
  <div class="settingHeader">
    <div class="btnGroup">
      <div class="btn" (click)="reasonableBtn()" [class.reasonable]="reasonable">
        原因設定
      </div>
      <div class="btn" (click)="clockInBtn()" [class.clockIn]="clockIn">
        上班日設定
      </div>
      <div class="btn" (click)="userSettingBtn()" [class.userSetting]="userSetting">
        使用者設定
      </div>
    </div>
  </div>

  <div class="settingSearch">
    <label>
      <select class="selectControl" formControlName="company">
        <option value="0" disabled>請選擇公司</option>
        <option *ngFor="let item of list;" [value]="item.CompanySeq">
          {{ item.CompanyName}}</option>
      </select>
    </label>

    <label>
      <input type="text" placeholder="請輸入帳號" />
    </label>

    <label>
      <input type="text" placeholder="請輸入姓名" />
    </label>

    <label>
      <input type="email" placeholder="請輸入信箱" />
    </label>

    <label>
      <select>
        <option value="1">啟用</option>
        <option value="2">停用</option>
      </select>
    </label>
    <button class="searchBtn" (click)="btnShowBox()">搜尋</button>
  </div>

  <div class="settingTable">
    <table>
      <colgroup span="4"></colgroup>
      <tr>
        <th>#</th>
        <th>帳號</th>
        <th>姓名</th>
        <th>公司</th>
        <th>信箱</th>
        <th>角色</th>
        <th>主管</th>
        <th>停/啟用</th>
        <th>功能</th>
      </tr>

      <tr>
        <td>1</td>
        <td>tim.hsu</td>
        <td>許智庭</td>
        <td>東捷資訊</td>
        <td>tim.hsu@itts.com.tw</td>
        <td>
          <select>
            <option value="1">一般</option>
            <option value="2">管理員</option>
          </select>
        </td>
        <td>
          <select>
            <option value="1">是</option>
            <option value="2">否</option>
          </select>
        </td>
        <td>
          <select>
            <option value="1">啟用</option>
            <option value="2">停用</option>
          </select>
        </td>

        <td>
          <button class="featureBtn">修改</button>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>tim.hsu</td>
        <td>許智庭</td>
        <td>東捷資訊</td>
        <td>tim.hsu@itts.com.tw</td>
        <td>
          <select>
            <option value="1">一般</option>
            <option value="2">管理員</option>
          </select>
        </td>
        <td>
          <select>
            <option value="1">是</option>
            <option value="2">否</option>
          </select>
        </td>
        <td>
          <select>
            <option value="1">啟用</option>
            <option value="2">停用</option>
          </select>
        </td>

        <td>
          <button class="featureBtn">修改</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="searchBox" *ngIf="showBox">
    <div class="container">
      <h2>搜尋設定</h2>
      <div class="formGroup">
        <div>
          <label>
            <p>請選擇服務單位</p>
            <select class="selectControl" formControlName="company">
              <option value="0" disabled>請選擇公司</option>
              <option *ngFor="let item of list;" [value]="item.CompanySeq">
                {{ item.CompanyName}}</option>
            </select>
          </label>
        </div>

        <div>
          <label>
            <p>請輸入帳號</p>
            <input type="text" placeholder="請輸入帳號" />
          </label>
        </div>

        <div>
          <label>
            <p>請輸入姓名</p>
            <input type="text" placeholder="請輸入姓名" />
          </label>
        </div>

        <div>
          <label>
            <p>請輸入信箱</p>
            <input type="email" placeholder="請輸入信箱" />
          </label>
        </div>
      </div>

      <div class="btnGroup">
        <div class="btn btn_access">確定</div>
        <div class="btn btn_cancel" (click)="closeBox()">取消</div>
      </div>
    </div>
  </div>


</div>
