.settingBlock {
  padding: 15px;
  position: relative;
  .settingHeader {
    padding-bottom: 15px;
    border-bottom: 2px dashed #d5dbe4;

    .btnGroup {
      display: flex;
      width: 100%;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        max-width: 200px;
        padding: 15px;
        margin-right: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        color: #666;
        outline: none;

        &:hover {
          border: 1px solid #1266ac;
          color: #1266ac;
        }

        &.active {
          border: 1px solid #1266ac;
          color: #1266ac;
        }
      }
    }
  }
  .settingSearch {
    padding: 20px 0;
    display: flex;
    width: 100%;

    select {
      width: 150px;
      height: 39px;
      padding-left: 12px;
      margin-right: 10px;
      border-radius: 6px;
      border: 1px solid #d5dbe4;
    }

    input {
      padding-left: 12px;
      width: 200px;
      height: 35px;
      margin-right: 10px;
      border-radius: 6px;
      border: 1px solid #d5dbe4;
    }

    .searchBtn {
      color: #fff;
      padding: 10px 20px;
      background-color: #1266ac;
      max-width: 70px;
      border: none;
      border-radius: 6px;
      outline: none;
      cursor: pointer;
    }
  }
}
