<div class="settingBlock">
  <div class="settingHeader">
    <div class="btnGroup">
      <a routerLink="./aside-setting-reasonable" class="btn" (click)="reasonableBtn()" [class.reasonable]="active">
        原因設定
      </a>
      <a routerLink="./aside-setting-workdaysetting" class="btn" (click)="workBtn()" [class.work]="active">
        上班日設定
      </a>
      <a class="btn" routerLink="./aside-setting-usersetting" (click)="userSettingBtn()"
        [class.userSetting]="active">
        使用者設定
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
