<div class="loginContainer">
  <div class="bannerBlock">
    <h1>
      <span>Attendance Time Clock</span>
    </h1>
  </div>

  <div class="formBlock">
    <ul class="language">
      <li><a href="#">繁</a></li>
      <li><a href="#">简</a></li>
      <li><a href="#">EN</a></li>
    </ul>

    <div class="inputGroup">
      <div class="logo">
        <img src="/assets/logo.svg" />
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
          <select id="select" formControlName="company" [ngClass]="{ 'errors': submitted && f.company.errors }">
            <option value="0" disabled>請選擇公司</option>
            <option *ngFor="let item of list" [value]="item.CompanySeq">{{ item.CompanyName }}</option>
          </select>
        </label>

        <div>

          <div class="errors" *ngIf="submitted && f.company.errors">
            <div *ngIf="f.company.errors.required">請填寫帳號</div>
          </div>


          <label>
            <input type="email" formControlName="email" [ngClass]="{ 'errors': f.email.errors }"
              placeholder="Account" />
          </label>
        </div>

        <div class="errors" *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">請填寫帳號</div>
          <div *ngIf="f.email.errors.email">email 格式錯誤</div>
        </div>

        <div>
          <label>
            <input type="password" formControlName="password" [ngClass]="{ 'errors': f.email.errors }"
              placeholder="Password" />
          </label>
        </div>

        <div class="errors" *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">請填寫帳號</div>
          <div *ngIf="f.password.errors.minlength">請輸入超過6位數密碼</div>
        </div>
        <div class="rememberBlock">
          <label> <input type="checkbox" />記住帳號 </label>
        </div>
        <button class="btn" type="submit" [disabled]="loading">登入</button>
      </form>
    </div>
  </div>
  <!-- <pre>{{ form | json }}</pre> -->
</div>
