.asideBlock{
  background-color: #1266ac;
  padding-top: 20px;
  border-radius: 0 20px 20px 0;
  text-align: center;
}

.mainBlock {
  width: calc(100% - 120px);
  position: relative;
  margin-left: 120px;


}
