.searchBox {
  position: absolute;
  top: 20%;
  left: 30%;
  .container {
    width: 300px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px #333;
    border-radius: 10px;
    h2 {
      color: #1266ac;
      font-size: 24px;
      border-bottom: 1px solid #d5dbe4;
      padding-bottom: 10px;
    }
    .formGroup {
      margin-top: 20px;
      p {
        color: #1266ac;
        font-size: 14px;
        margin-top: 10px;
      }
select{
  width: 100%;
}
input{
  width: 95%;
}
      select,
      input {
        margin: 10px 0;
        height: 35px;
        border-radius: 6px;
        border: 1px solid #d5dbe4;
        padding-left: 12px;
      }
    }
    .btnGroup {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .btn {
        width: 45%;
        height: 44px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: none;
      }
      .btn_access {
        background-color: #1266ac;
      }
      .btn_cancel {
        background-color: #888;
      }
    }
  }
}
